# 1. Comments

In [ ]:
# Multiline strings

a = """Pollution is the introduction of harmful
     materials into the environment. 
     These harmful materials are called pollutants."""
print(a)

In [ ]:
# Three single quotes

a = '''Pollution is the introduction of harmful
     materials into the environment. 
     These harmful materials are called pollutants.'''
print(a)

# 2. Numeric Data Types

There are three numeric types in Python:

int
float
complex
Variables of numeric types are created when you assign a value to them:

In [1]:
x = 1    # int
y = 2.8  # float
z = 4+3j   # complex

In [2]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

a) Integers

In [2]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

b) Floating Point Numbers

In [1]:
x = 35e3
y = 12E4
z = -87.7e-100

print(type(x))
print(type(y))
print(type(z))
print(y)
print(x)
print(z)

<class 'float'>
<class 'float'>
<class 'float'>
120000.0
35000.0
-8.77e-99

c) Complex numbers

In [3]:
# Creating complex numbers
import numpy as np
z1 = 3 + 4j
z2 = 2 - 5j

print("z1 =", z1)
print("z2 =", z2)
print(np.real(z1))

z1 = (3+4j)
z2 = (2-5j)
3.0

# 3. Type Casting

    • Implicit Type Casting → Done automatically by Python.
    • Explicit Type Casting → Done manually by the programmer using built-in functions.

In Implicit type conversion, the Python interpreter automatically converts one data type to another without any user involvement.

In Explicit type conversion, the data type is manually changed by the user as per their requirement. With explicit type conversion, there is a risk of data loss since we are forcing an expression to be changed in some specific data type.

#### 1. Implicit Type Conversion

In [4]:
x = 10     # int
y = 3.5    # float
z = x + y  # int + float → float
print(z)   # 13.5
print(type(z))  # <class 'float'>

13.5
<class 'float'>

#### 2. Explicit Type casting

In [11]:
# Converting floating point to integer
x = int(3.14)
print(x) 
print(type(x))

3
<class 'int'>

In [10]:
# Converting string to floating point
x = float("3.14")
print(x) 
print(type(x))

3.14
<class 'float'>

In [8]:
# Converting integer to string
x = str(123)
print(x)
print(type(x))

123
<class 'str'>

In [1]:
x = int("45")
print(type(x))

<class 'int'>

In [13]:
# Converts a value to a boolean
x = bool(0)
print(x)
print(type(x))

False
<class 'bool'>

# 4. Operators

1. Arithmetic Operators
2. Relational Operators
3. Logical Operators
4. Assignment Operators
5. Membership Operators
6. Identity Operators
7. Bitwise Operators

Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication and division.

There are 7 arithmetic operators in Python:

Addition
Subtraction
Multiplication
Division
Modulus
Exponentiation
Floor division

In [1]:
# 1. Arithmetic Operators

x = -10
y = 4
result = x + y * 2 
print(result)

z1 = x //y
z2 = x /y
print(z1)
print(z2)

-2
-3
-2.5

In [3]:
# 2. Relational Operators

a, b = 10, 20
print("a > b :", a > b)     # False
print("a < b :", a < b)     # True

a > b : False
a < b : True

In [4]:
x, y = 15, 15
print("x == y :", x == y)   # True
print("x != y :", x != y)   # False

x == y : True
x != y : False

In [19]:
# 3. Logical Operators

x, y = 10, 0
print("x and y:", x and y)   # 0 (returns y since x is truthy)
print("x or y:", x or y)     # 10 (returns first truthy value)

You are eligible to vote.

In [18]:
a, b = True, False
print("a and b:", a and b)   # False
print("a or b:", a or b)     # True
print("not a:", not a)       # False

You are allowed to appear for re-exam.

In [4]:
# Example combining all logical operators
x = 15

if (x > 10 and x < 20) and not (x == 15):
    print("Condition is True")
else:
    print("Condition is False")

Condition is False

4. Assignment Operators

** With examples illustrate augmented assignment and multiple assignment operators (Old question)

In [ ]:
Augmented assignment

In [22]:
# 4. Assignment operators

x = 20
x /= 5   # same as x = x / 5
print("Result", x)

Result 4.0

In [ ]:
Multiple assignment

In [1]:
# Assigning multiple variables in one line
a, b, c = 10, 20, 30
print("a =", a, "b =", b, "c =", c)   # a = 10 b = 20 c = 30

# Swapping two variables (no need of temp variable)
x, y = 5, 7
x, y = y, x
print("After swapping: x =", x, "y =", y)   # x = 7 y = 5

# Assigning same value to multiple variables
p = q = r = 50
print("p =", p, "q =", q, "r =", r)   # p = 50 q = 50 r = 50

a = 10 b = 20 c = 30
After swapping: x = 7 y = 5
p = 50 q = 50 r = 50

In [23]:
x = 17
x %= 5 
print("Result", x)

Result 2

In [4]:
# 5. Membership operators

x = [[1, 2], [3, 4]]
print(3 in x)  # Output: True
print(6 not in x)  # Output: True

y = [3, 4]
print(y in x)

False
True
True

In [5]:
# 6. Identity operators

x = [1, 2, 3]
y = [1, 2, 3]

print(x == y)   # True → contents are the same
print(x is y)   # False → stored at different memory locations
print(x is not y)

z = 4
w = 4
print(z is w)

True
False
True
True

In [6]:
# 7. Bit-wise operators

a = 12  # 1100
b = 6   # 0110

print("a & b =", a & b)   # 0100 → 4     (a and b)
print("a | b =", a | b)   # 1110 → 14     (a or b)
print("a ^ b =", a ^ b)   # 1010 → 10     (a xor b)
a = 20
print("a << 2 =", a << 3) # 110000 → 48   (Left shift)
print("a >> 2 =", a >> 2) # 0011 → 3    (Right shift)

a & b = 4
a | b = 14
a ^ b = 10
a << 2 = 160
a >> 2 = 5

# 5. Input and Output functions

a) Input function

In [11]:
name = input("Enter your name: ") # string input
print("My name is ",name)

print("Hello, " + name + "!")

Enter your name: 123
My name is  123
Hello, 123!

In [10]:
x = int(input("enter the value")) # Try floating point no
print("The value is", x)

enter the value125
The value is 125

b) Print function

In [16]:
# Printing multiple values
x = 10
y = 20
print("x=",x,'\n',"y=",y)

x= 10
 y= 20

In [4]:
# Printing with formatting
pi = 3.14159
print("Pi Value is", format(pi, ".2f"))  # Output: "Value: 3.14"
print(f"{pi} is a floating point no.")
print(f"{pi:.2f} is a floating point no.")

Pi Value is 3.14
3.14159 is a floating point no.
3.14 is a floating point no.

In [10]:
# Using the end argument to change the end character
print("Hello,", end=" ")
print("world!")  # Output: Hello, world!

Hello, world!