A tuple represents a sequence of objects separated by commas and enclosed in parentheses. A tuple is an immutable object, which means it cannot be changed, and we use it to represent fixed collection of items.

### 1. Creating a Tuple

In [1]:
# Empty tuple
t1 = ()
print(t1)   # ()

# Tuple with integers
t2 = (1, 2, 3, 4)
print(t2)   # (1, 2, 3, 4)

# Tuple with mixed data types
t3 = (10, "apple", 3.14, True)
print(t3)   # (10, 'apple', 3.14, True)

()
(1, 2, 3, 4)
(10, 'apple', 3.14, True)

1. Single Element Tuple

In [2]:
t5 = (10,)     # single element tuple
print(t5)      # (10,)

t6 = (10)      # just an integer
print(t6)      # 10

(10,)
10

2. Nested Tuples: A tuple can contain other tuples.

In [3]:
nested = (1, (2, 3), (4, 5, 6))
print(nested)        
print(nested[1][1])  # (accessing inside nested tuple)

(1, (2, 3), (4, 5, 6))
3

3. Tuple using Constructor

In [4]:
list_data = [1, 2, 3, 4]
t7 = tuple(list_data)
print(t7)  

string_data = "Python"
t8 = tuple(string_data)
print(t8)

(1, 2, 3, 4)
('P', 'y', 't', 'h', 'o', 'n')

** Explain any four properties of tuples with examples.

Properties of Tuples-

1. Tuples are Ordered.
2. Immutable → once created, elements cannot be changed.
3. Allows duplicates.
4. Defined using ( ).
5. Heterogeneous: Can store different data types (int, string, float, etc.).
6. Indexable and iterable.

1. Tuples are Ordered

Tuples maintain the order of elements as they are inserted.

In [ ]:
t = (10, 20, 30)
print(t[0])   # Output: 10 (first element)
print(t[2])   # Output: 30 (last element)

2. Tuples are Immutable

Once created, the elements of a tuple cannot be changed (no modification, addition, or deletion).

In [ ]:
t = (1, 2, 3)
# t[0] = 5   # ❌ Error: 'tuple' object does not support item assignment
print(t)      # Output: (1, 2, 3)

3. Tuples can contain Duplicate Elements

Unlike sets, tuples allow duplicate values.

In [ ]:
t = (1, 2, 2, 3, 1)
print(t)  # Output: (1, 2, 2, 3, 1)

4. Tuples can contain Heterogeneous Data

A tuple can store elements of different data types (integers, strings, floats, lists, etc.).

In [ ]:
t = (10, "Python", 3.14, [1, 2, 3])
print(t)

### 2. Accessing Tuple Elements

1. Accessing Tuple Elements by Index

In [5]:
my_tuple = (10, 20, 30, 40, 50)

print(my_tuple[0])  
print(my_tuple[-1])   # Negative indexing
print(my_tuple[2])

10
50
30

2. Accessing Tuple Elements Using a Loop

In [15]:
x = ("apple", "banana", "cherry")
for i in x:
    print(i)

apple
banana
cherry

3. Looping through indicies

In [16]:
x = ("apple", "banana", "cherry")
for i in range(len(x)):
    print(x[i])

apple
banana
cherry

4. Accessing a Range of Elements (Tuple Slicing)

In [7]:
fruits = ("apple", "banana", "cherry", "mango", "grape")

print(fruits[1:4])   # From index 1 to 3 → ('banana', 'cherry', 'mango')
print(fruits[:3])    # From start to index 2 → ('apple', 'banana', 'cherry')
print(fruits[2:])

('banana', 'cherry', 'mango')
('apple', 'banana', 'cherry')
('cherry', 'mango', 'grape')

### 3. Tuple Methods

Since tuples are immutable, they have very few built-in methods:

  a) count(x) → Returns number of times x appears.

  b) index(x) → Returns index of first occurrence of x.

In [6]:
my_tuple = (10, 20, 30, 20, 40, 20)

print(my_tuple.count(20))   
print(my_tuple.index(30))

3
2

### 4. Operations with Tuples (not methods, but useful):

In [9]:
numbers = (10, 5, 20, 15)

print(len(numbers))    # 4
print(min(numbers))    # 5
print(max(numbers))    # 20
print(sum(numbers))    # 50
print(sorted(numbers))

4
5
20
50
[5, 10, 15, 20]

1. Reverse a tuple

In [10]:
fruits = ("apple", "banana", "cherry", "mango")

reversed_tuple = fruits[::-1]   # slicing with step -1
print("Reversed Tuple:", reversed_tuple)

Reversed Tuple: ('mango', 'cherry', 'banana', 'apple')

2. To concatenate two or more tuples

In [11]:
# We can use + sign to concatenate (just like strings).

tuple_1 = ('a', 'b')
tuple_2 = (3, 4)
print(tuple_1 + tuple_2)

('a', 'b', 3, 4)

3. Deleting an element is not possible in a Tuple
Complete Tuple can be deleted

In [14]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)

NameError: name 'thistuple' is not defined

4. Multiplying a tuple

In [12]:
# multiplying a tuple by an integer produces a tuple containing the 
# original tuple repeated that many times. 

a = (1, 7, 9, 8)
print(a * 2)

(1, 7, 9, 8, 1, 7, 9, 8)

5. Add tuple to a tuple.

In [18]:
#Create a new tuple with the value "orange", and add that tuple:
x = ("apple", "banana", "cherry")
y = ("orange",)
x += y

print(x)

('apple', 'banana', 'cherry', 'orange')

6. Difference Between Tuples and Lists in Python

In [13]:
import sys
a_list = ['abc', 'xyz', 123, 231, 13.31, 0.1312]
a_tuple = ('abc', 'xyz', 123, 231, 13.31, 0.1312)
print('The list size:', sys.getsizeof(a_list), 'bytes')
print('The tuple size:', sys.getsizeof(a_tuple), 'bytes')

The list size: 104 bytes
The tuple size: 88 bytes

### 5. Programs using Tuples

1. Write a Python program to create a tuple with numbers and print all the elements at odd indices.

In [1]:
numbers = (10, 20, 30, 40, 50, 60, 70, 80)

print("Tuple:", numbers)
print("Elements at odd indices:")

# Accessing elements at odd indices using slicing
for i in range(1, len(numbers), 2):   # start from index 1, step = 2
    print(f"Index {i}: {numbers[i]}")

Tuple: (10, 20, 30, 40, 50, 60, 70, 80)
Elements at odd indices:
Index 1: 20
Index 3: 40
Index 5: 60
Index 7: 80

2. Write a program to convert a list into a tuple and print its length.

In [ ]:
# Creating a list
my_list = [5, 10, 15, 20, 25]

# Converting list to tuple
my_tuple = tuple(my_list)

# Printing tuple and its length
print("List:", my_list)
print("Tuple:", my_tuple)
print("Length of tuple:", len(my_tuple))

3. Convert the tuple into a list, add an element, and convert it back into a tuple:

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y.append("orange")
x = tuple(y)
print(x)

4. Change items in a tuple by converting into a list

In [17]:
x = ("apple", "banana", "cherry")
print(x[1])
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

banana
('apple', 'kiwi', 'cherry')